.anguloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.anguloader-backdrop {
    //background-color: black;
    opacity: 0.6;
    background: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%)
}

.anguloader-icon {
    position: absolute;
    margin: auto !important;
    left: 0 !important;
    right: 0 !important;
    top:0 !important;
    bottom:0 !important;
    display: block;
    color: white;
}

/* Blob */

.anguloader-blob {
    height: 20px;
}

.spinner {
  margin: 100px auto 0;
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.7s infinite ease-in-out both;
  margin-right: 5px;
}

.spinner--orange > div {
  background: #FF9A27;
}

.spinner--cyan > div {
  background: #3FCCA1;
}

.spinner--yellow > div {
  background: #F2D915;
}

.spinner .spinner__item1 {
  animation-delay: -0.60s;
}

.spinner .spinner__item2 {
  animation-delay: -0.40s;
}

.spinner .spinner__item3 {
  animation-delay: -0.20s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
    opacity: 0;
  } 40% { 
    transform: scale(1.0);
    opacity: 1;
  }
}

/* waveform */

.part {
  width: 250px;
  position: absolute;
}

.svgpath {
  fill: rgba(255,255,255,0);
  stroke: white;
  stroke-width: 1.5px;
  stroke-dasharray: 1000;
  stroke-linecap: round;
  z-index: 2;
}

.svgbg {
  fill: rgba(255,255,255,0.2);
  z-index: 1;
 }

#playload {
  animation: dash 2.5s reverse ease-in-out infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}

/* Cube */

.cube-icon{
    position: absolute;
    margin: auto !important;
    left: 0 !important;
    right: 0 !important;
    top:0 !important;
    bottom:0 !important;
    display: block;
    height: 30px;
}

.thecube {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    //margin-top: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.thecube .cube {
        position: relative;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    
    }

    .thecube .cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .thecube .cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        -webkit-animation: foldthecube 2.4s infinite linear both;
        animation: foldthecube 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

     .thecube .c2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }

    .thecube .c3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
    }

    .thecube .c4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
    }

    .thecube .c2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .thecube .c3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .thecube .c4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }

    @keyframes foldthecube {
        0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        }

        25%,
        75% {
            -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
            opacity: 1;
        }

        90%,
        100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
    }

/* Loading */

.text-loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  letter-spacing: 0.2em;
  
}

.text-loader:before, .text-loader:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

.text-loader:before{
    top: 0;
}

.text-loader:after{
    bottom: 0;
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}


/* sphere */

.sphere-loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


/* square */

.square-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 200px;
  height: 200px;
  
  margin-top: -100px;
  margin-left: -100px;
  
  perspective: 400px;
  transform-type: preserve-3d;
 }

/* The square */
.square-loader .square {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  
  width: 100%;
  height: 100%;
  
  perspective: 600px;
  transform-type: preserve-3d;
  transform-origin: 50% 50%;
}

/* The tiny squares */
.square-loader .square--mini {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 25%;
  height: 25%;
  
  margin-top: 0;
  margin-left: 0;
  
  perspective: 400px;
  transform-type: preserve-3d;
  transform-origin: 50% 50%;
  transform: translateZ(200px) rotateX(20deg) rotateY(-10deg);
  
  background-color: #1e3f57;
  
  animation: squaremini 4s cubic-bezier(.38,.04,.38,.99) infinite;
}

.square-loader .square--mini:nth-child(4n+2) {
  left: 25%;
}

.square-loader .square--mini:nth-child(4n+3) {
  left: 50%;
}

.square-loader .square--mini:nth-child(4n+4) {
  left: 75%;
}

.square-loader .square--mini:nth-child(5),
.square-loader .square--mini:nth-child(6),
.square-loader .square--mini:nth-child(7),
.square-loader .square--mini:nth-child(8) {
  top: 25%;
}

.square-loader .square--mini:nth-child(9),
.square-loader .square--mini:nth-child(10),
.square-loader .square--mini:nth-child(11),
.square-loader .square--mini:nth-child(12) {
  top: 50%;
}

.square-loader .square--mini:nth-child(13),
.square-loader .square--mini:nth-child(14),
.square-loader .square--mini:nth-child(15),
.square-loader .square--mini:nth-child(16) {
  top: 75%;
}

.square-loader .square--mini:nth-child(2),
.square-loader .square--mini:nth-child(5) {
  animation-delay: 100ms;
}
 
.square-loader .square--mini:nth-child(3),
.square-loader .square--mini:nth-child(6), 
.square-loader .square--mini:nth-child(9) {
  animation-delay: 200ms;
} 

.square-loader .square--mini:nth-child(4), 
.square-loader .square--mini:nth-child(7),
.square-loader .square--mini:nth-child(10),
.square-loader .square--mini:nth-child(13) { 
  animation-delay: 300ms;
}

.square-loader .square--mini:nth-child(8),
.square-loader .square--mini:nth-child(11),
.square-loader .square--mini:nth-child(14) {
  animation-delay: 400ms;
}

.square-loader .square--mini:nth-child(12),
.square-loader .square--mini:nth-child(15) {
  animation-delay: 500ms;
}

.square-loader .square--mini:nth-child(16) {
  animation-delay: 600ms;
}

@keyframes squaremini {
  0%, 100% {
    transform: translateZ(200px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
    background-color: #1e3f57;
  }
  12.5%, 62.5% {
    transform: translateZ(0) rotateX(0) rotateY(0);
    background-color: #3c617d;
  }
  25%, 75% {
    transform: translateZ(200px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
    background-color: #3c617d;
  }
  37.5% {
    transform: translateZ(0) rotateX(0) rotateY(0);
    background-color: #6bb2cd;
  }
  50% {
    transform: translateZ(200px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
    background-color: #6bb2cd;
  }
  87.5% {
    transform: translateZ(0) rotateX(0) rotateY(0);
    background-color: #1e3f57;
  }
}
